html {
	padding: $base-spacing-unit;
	width:960px;
	margin:auto;
}

h1 {
	color: #3d3d3d;
	text-align: center;
	font-family: "cubano-1", "cubano-2", sans-serif;
}

p {
	font-family: "museo-slab-1","museo-slab-2";
}

h2 {
	color: #3d3d3d;
	text-align: center;
	font-family: "cubano-1", "cubano-2", sans-serif;
}

h5 {
	color: #3d3d3d;
	text-align: center;
	font-family: "cubano-1", "cubano-2", sans-serif;
}