footer #theteam {
	display: inline;
	float: left;
}

footer .logos {
	display: inline;
	float: right;
}

.logos #qsrlogo {
	height: 240px;
	width: 240px;
}

footer {
	font-size: 12px;
	color: #8d8d8d;
	background-image: url('img/footer_bg.png');
	height: 250px;
}